@use "sass:map";
@use "/src/utils/styles/functions.scss" as f;
@import '../../../../utils/styles/colors.scss';

.shopCatalogContainer {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 100%;
  width: f.rem(460);

  border-radius: f.rem(10) f.rem(10);
  background-color: map.get($colors, "white");
  padding: f.rem(30) f.rem(50);
  box-shadow: 0 4px 30px 3px rgba(0, 0, 0, 0.25);
}

.shopCatalogList {
  display: flex;
  flex-direction: column;
  row-gap: f.rem(25);
}

.shopCatalogItem {
  cursor: pointer;

  .shopCatalogItemLink {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: f.rem(18);
    color: map.get($colors, "darkGray");
    transition: 0.1s;

    svg {
      fill: map.get($colors, "darkGray");
      transition: 0.1s;
    }

    &:hover {
      color: map.get($colors, "deepGreen");
    }

    &:hover svg {
      fill: map.get($colors, "deepGreen");
    }
  }
}