@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@import '../../../utils/styles/colors.scss';

.checkbox {
    width: f.rem(20);
    height: f.rem(20);
    border-radius: f.rem(5);
    border: 2px solid map.get($colors, 'middleGray');
    cursor: pointer;
    position: relative;
    transition: 0.3s linear;

    &::before {
        content: '';
        display: block;
        width: f.rem(10);
        height: f.rem(10);
        border-radius: f.rem(2);
        background-color: map.get($colors, 'lightGreen');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.3s linear;
    }

}

.activeCheckbox {
    transition: 0.3s linear;
    border: 2px solid map.get($colors, 'lightGreen');

    &::before {
        content: '';
        transform: translate(-50%, -50%) scale(1);
        transition: 0.3s linear;
    }
}