@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixin.scss' as m;
@import '../../../../utils/styles/colors.scss';

.header {
    display: flex;
    font-weight: 700;
}

.iconHeart {
    flex: 1 1 auto;

    svg {
        fill: map.get($colors, "darkGray");
    }
}

.iconActive {
    fill: map.get($colors, 'brick') !important;
}

.outStock {
    color: map.get($colors, "lightRed");
}

.inStock {
    color: map.get($colors, "lightGreen");
}