@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@use '../../utils/styles/mixin.scss' as m;
@import '../../utils/styles/colors.scss';

.review {
    max-width: f.rem(344);
    border-radius: f.rem(10);
    min-height: 100%;
    background-color: map.get($colors, 'white');
    padding: f.rem(30);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: f.rem(20);
}

.avatar {
    margin-right: f.rem(10);
}

.description {
    margin-bottom: f.rem(87);
    color: map.get($colors, '#323232');
}

.button {
    position: absolute;
    bottom: f.rem(30);
    right: f.rem(30);
    color: map.get($colors, 'green');
    font-weight: 700;
    transition: 0.3s linear;

    &:hover {
        transition: 0.3s linear;
        opacity: 0.5;
    }

}

.rating {
    display: flex;
    align-items: center;

    p {
        margin-right: f.rem(10);
        font-weight: 700;
    }
}

.name {
    margin-bottom: f.rem(5);
    font-weight: 700;
}