@use "../../../../utils/styles/functions.scss" as f;
@import "../../../../utils/styles/colors.scss";

.cardProductPharmacologic {
  background-color: map-get($colors, "white");
  padding: 50px 0px 100px;
  color: map-get($colors, "darkGray");
}

.cardProductPharmacologicMain {
  .pharmacologicTitle {
    font-weight: 700;
    font-size: f.rem(35);
    margin-bottom: f.rem(30);
  }

  .pharmacologicTitleH3 {
    font-size: f.rem(20);
    font-weight: 700;
    margin-bottom: f.rem(35);
    margin-top: f.rem(40);
  }

  .pharmacologicParagraphBlock {
    margin-bottom: f.rem(30);

    &:last-child {
      margin-bottom: f.rem(0);
    }

    .pharmacologicParagraph {
      font-weight: 500;
      font-size: f.rem(16);
      line-height: 169%;

      .pharmacologicParagraphTitle,
      .pharmacologicParagraphBold {
        font-weight: 700;
      }
    }
  }
}
