@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@use '../../utils/styles/mixin.scss' as m;
@import '../../utils/styles/colors.scss';

.wrapper {
    width: 100%;
    background-color: map.get($colors, "grayWhite");
    padding: 0 0 f.rem(100) 0;
}

.title {
    margin-bottom: f.rem(20);
}