@use 'sass:map';
@use "/src/utils/styles/functions.scss" as f;
@import '../../../../utils/styles/colors.scss';

.headerActionSearchBar {
  position: relative;
  flex-basis: f.rem(770);
  width: 100%;
  height: fit-content;

  .headerSearchInput {
    background: map.get($colors, "white");
    border: 2px solid map.get($colors, "lightGreen");
    border-radius: f.rem(10);
    width: f.rem(770);
    height: f.rem(65);
    padding: f.rem(22) f.rem(30);

    font-weight: 500;
    font-size: f.rem(16);

    color: map.get($colors, "darkGray");
    transition: 0.1s;

    &:focus {
      border-color: map.get($colors, "deepGreen");
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    fill: map.get($colors, "lightGreen");
  }
}

.wrapper {
  position: relative;
}

.searchPageLink {
  margin-top: f.rem(30);
  display: block;
}

.body {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: f.rem(32);
  transform: translate(0, -50%);
  pointer-events: none;
  opacity: 0.6;

  span {
    opacity: 0;
    visibility: hidden;
  }
}

.searchPopup {
  position: absolute;
  top: 100%;
  margin-top: f.rem(10);
  width: f.rem(770);
  padding-bottom: f.rem(30);
  box-shadow: 0 4px 30px 3px rgba(0, 0, 0, 0.25);
  background-color: map.get($colors, "white");
  border-radius: f.rem(10);
  z-index: 10;

  .searchPageLink {
    font-weight: 700;
    font-size: f.rem(16);
    color: map.get($colors, "mintGreen");
    transition: 0.1s;
    padding: 0 f.rem(30);

    &:hover {
      color: map.get($colors, "deepGreen");
    }
  }
}