@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.page {
    background-color: map.get($colors, 'grayWhite');
}

.map {
    width: 100%;
    min-height: f.rem(500);
}