@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.page {
    background-color: map.get($colors, 'grayWhite');
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    display: flex;
}

.settings {
    flex: 0 1 f.rem(302);
    background-color: map.get($colors, 'white');
    border-radius: f.rem(10);
}

.content {
    flex: 1 1 100%;
}

.accordion {
    div:nth-child(2) {
        margin-top: f.rem(20);
    }
}

.pagination {
    margin-bottom: f.rem(130);
}