@use "../../utils/styles/functions.scss" as f;
@import "../../utils/styles/colors.scss";

.cardProduct {
  background-color: map-get($colors, "grayWhite");
}

.tabs {
  display: flex;
  justify-content: space-between;

  .tabsItem {
    flex: 1;
    background-color: map-get($colors, "grayWhite");
    border-radius: 10px 10px 0 0;
    height: 70px;

    overflow: hidden;

    .tabsItemLink {
      display: grid;
      place-content: center;
      width: 100%;
      height: 100%;

      font-weight: 700;
      font-size: 18px;
      color: map-get($colors, "darkGray");

      user-select: none;
      transition: 0.15s;
    }

    .active {
      color: map-get($colors, "deepGreen");
      background-color: map-get($colors, "white");
    }
  }
}
