@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixin.scss' as m;
@import '../../../../utils/styles/colors.scss';

.infoProducts {
    margin-top: f.rem(50);
    max-width: f.rem(437);
    width: 100%;
}

.wrapper {
    background-color: map.get($colors, "grayWhite");
    padding: f.rem(20) f.rem(30) f.rem(50) f.rem(30);
    border-radius: f.rem(10);
    width: 100%;
    margin-bottom: f.rem(20);
}

.clearButton {
    color: map.get($colors, 'brick');
}

.wrapperClearButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: f.rem(20);
}

.text {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;

    span {
        font-weight: 700;
        display: block;
        flex: 1 1 auto;
    }

    &:nth-child(3) {
        margin-bottom: f.rem(30);
    }
}

.form {
    margin-bottom: f.rem(20);
}

.input {
    @include m.input($padding: f.rem(22) f.rem(22) f.rem(22) f.rem(22),
        $width: 100%,
        $borderRadius: f.rem(10),
        $border: 0px solid map.get($colors, 'white'),
        $backgroundColor: map.get($colors, 'white'),
        $color: map.get($colors, 'middleGray'));
}

.wrapperForm {
    p {
        margin-bottom: f.rem(20);
    }
}

.abilityPayment {
    h3 {
        font-weight: 700;
        margin-bottom: f.rem(10);
    }
}

.bodyCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: f.rem(12);

    &:last-child {
        margin-bottom: 0;
    }
}

.checkbox {
    margin-right: f.rem(10);
}

.bodyButtons {
    display: flex;
    align-items: center;
    text-align: center;
}

.continueBuyingButton {
    display: block;
    @include m.button($padding: f.rem(27) f.rem(22) f.rem(27) f.rem(22),
        $width: f.rem(265),
        $borderRadius: f.rem(10),
        $border: 3px solid map.get($colors, 'deepGreen'),
        $backgroundColor: map.get($colors, 'white'),
        $color: map.get($colors, 'deepGreen'));
    font-weight: 700;
    margin-right: f.rem(20);
}

.continueButton {
    display: block;
    @include m.button($padding: f.rem(27) f.rem(22) f.rem(27) f.rem(22),
        $width: f.rem(150),
        $borderRadius: f.rem(10),
        $border: 3px solid map.get($colors, 'lightGreen'),
        $backgroundColor: map.get($colors, 'lightGreen'),
        $color: map.get($colors, 'white'));
    font-weight: 700;
}