@use 'sass:map';
@use "../../utils/styles/functions.scss" as f;
@import '../../utils/styles/colors.scss';

.header {
  background-color: map.get($colors, "grayWhite");
    padding-bottom: f.rem(20);
}

.headerInner {
  position: relative;
}

.searchBar {
  margin-right: f.rem(50);
}

.headerWebsiteLogo {
  margin-right: f.rem(20);
}

.headerActionSearch {
  position: relative;
}

.headerActionLoginLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: f.rem(10);

  font-weight: 500;
  font-size: f.rem(18);
  color: map.get($colors, 'lightGreen');

  svg {
    fill: map.get($colors, 'darkGray');
    transition: 0.15s;
  }

  &:hover svg {
    fill: map.get($colors, 'lightGreen');
  }
}

.headerNav {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: f.rem(50);
  background: map.get($colors, "forest");
  padding: f.rem(20) f.rem(50) f.rem(20);
  border-radius: f.rem(10);
  }
}