.header {
  background-color: F3F3F3;
}

.headerInner {
  .headerContacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 30px;

    .headerSale {
      display: grid;
      place-content: center;

      border: 2px solid #30b856;
      border-radius: 10px;
      width: 550px;
      height: 65px;
      background-color: #fff;

      p {
        font-weight: 700;
        font-size: 18px;
        color: #30b856;
      }
    }

    .headerContactsAddress {
      max-width: 310px;
      width: 100%;

      font-weight: 500;
      font-size: 18px;
      line-height: 1.1em;
      color: #323232;
    }

    .headerContactNumbers {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 8px;

      .headerContactItem {
        font-weight: 800;
        font-size: 25px;
        text-align: right;
        color: #323232;

        span {
          font-weight: 500;
          font-size: 18px;
        }
      }

      .headerContactCallback {
        font-weight: 500;
        font-size: 18px;
        color: #1e7637;
      }
    }
  }
}
.headerInner {
  padding-top: 20px;

  .headerInfo {
    display: flex;
    column-gap: 30px;

    .headerInfoItem {
      display: flex;
      column-gap: 10px;

      font-weight: 500;
      font-size: 14px;
      color: #808080;

      svg {
        fill: #808080;
      }
    }
  }
}
.headerInner {
  .headerActions {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    margin: 30px 0;

    .headerActionSearchBar {
      position: relative;
      flex-basis: 770px;
      width: 100%;
      height: fit-content;

      .headerSearchBar {
        background: #fff;
        border: 2px solid #30b856;
        border-radius: 10px;
        width: 772px;
        height: 65px;
        padding: 22px 30px;

        font-weight: 500;
        font-size: 16px;
        color: #7f7f7f;
      }

      svg {
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        fill: #30b856;
      }
    }

    .headerActionFavoritesLink,
    .headerActionTrashLink,
    .headerActionLoginLink {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      font-weight: 500;
      font-size: 18px;
      color: #30b856;

      svg {
        fill: #323232;
        transition: 0.15s;
      }

      &:hover svg {
        fill: #30b856;
      }
    }
  }
}

.headerNav {
  display: flex;
  align-items: center;
  column-gap: 50px;
  background: #144f24;

  padding: 20px 50px 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  .burgerMenu {
    display: grid;
    place-content: center;
    background: none;
  }
}

.headerNavList {
  display: flex;
  column-gap: 50px;

  .headerNavItem {
    font-weight: 700;
    font-size: 18px;

    .headerNavLink {
      color: #fff;
    }
  }
}

.headerSwiper {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  user-select: none;

  .headerSwiperSlide {
    width: 100%;
    min-height: 100%;
    height: 100%;
  }

  .headerSwiperButtonPrev,
  .headerSwiperButtonNext {
    position: absolute;
    top: 50%;
    z-index: 10;

    display: grid;
    place-content: center;

    width: 80px;
    height: 80px;
    background-color: #f3f3f3;
    border-radius: 50%;
    cursor: pointer;

    svg {
      fill: #323232;
      transition: 0.15s;
    }

    &:hover svg {
      fill: #2a8288;
    }
  }

  .headerSwiperButtonPrev {
    left: 8px;
    transform: translate(-50%, -50%);
  }

  .headerSwiperButtonNext {
    right: 8px;
    transform: translate(50%, -50%);
  }

  .headerSwiperPagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    bottom: -10px;
    height: 5px;
    width: 100px;
    background-color: #144f24;
  }
}
