@use "sass:map";
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.footer {
  padding: f.rem(50) 0;
  background-color: map.get($colors, "white")
}

.footerInner {}

.footerTop {
  display: flex;
  column-gap: f.rem(90);
  margin-bottom: f.rem(50);
}

.footerInfo {
  max-width: f.rem(310);
  width: 100%;

  .footerInfoWebsiteLogo {
    margin-bottom: f.rem(35);
  }

  .footerInfoAddress {
    font-weight: 500;
    font-size: f.rem(18);
    color: map.get($colors, "darkGray");
    line-height: 1.1em;
    margin-bottom: f.rem(20);
  }

  .footerInfoSociaMedia {
    margin-bottom: f.rem(20);

    .footerSocialMediaTitle {
      font-weight: 700;
      font-size: f.rem(18);
      color: map.get($colors, "darkGray");
      margin-bottom: f.rem(10);
    }
  }

  .footerInfoContacts {
    display: flex;
    flex-direction: column;

    .footerInfoContactsNumber {
      font-weight: 800;
      font-size: f.rem(35);
      color: map.get($colors, "darkGray");
      margin-bottom: f.rem(5);
    }

    .footerInfoContactsCallBack {
      font-weight: 500;
      font-size: f.rem(18);
      color: map.get($colors, "deepGreen");
      background-color: transparent;
    }
  }
}

.footerNavigation {
  display: flex;
  column-gap: f.rem(50);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .footerBottomCopyright {
    flex-basis: f.rem(370);

    .footerBottomCopyrightLink {
      display: inline-block;
      font-weight: 500;
      font-size: f.rem(16);
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: map.get($colors, "darkGray");
      margin-bottom: f.rem(20);
    }

    .footerBottomCopyrightText {
      font-weight: 500;
      font-size: f.rem(16);
      line-height: 156%;
      color: #2e2e2e;
    }
  }

  .footerBottomMapLink {
    font-weight: 500;
    font-size: f.rem(16);
    line-height: 156%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: map.get($colors, "green");
  }
}


.listMain {
  margin-bottom: f.rem(50);
}

.footerSocialMediaList {
  display: flex;
  align-items: center;
  gap: f.rem(20);
}

.footerSocialMediaItem {
  border-radius: f.rem(10);
  background-color: map.get($colors, "green");
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}