@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@use '../../utils/styles/mixin.scss' as m;
@import '../../utils/styles/colors.scss';

.order {
    padding: f.rem(10) 0 0 0;
    background-color: map.get($colors, "grayWhite");
}

.navigate {
    margin-bottom: f.rem(50);
}