@use "../../../../utils/styles/functions.scss" as f;
@import "../../../../utils/styles/colors.scss";

.cardProductUsage {
  background-color: map-get($colors, "white");
  padding: 50px 0px 100px;
  color: map-get($colors, "darkGray");
}

.cardProductUsageMain {
  .usageTitleH3 {
    font-size: f.rem(20);
    font-weight: 700;
    margin-bottom: f.rem(7);
    margin-top: f.rem(40);
  }
  .usageParagraphBlock {
    margin-bottom: f.rem(30);

    &:last-child {
      margin-bottom: f.rem(0);
    }

    .usageParagraph {
      font-weight: 500;
      font-size: f.rem(16);
      line-height: 169%;

      .usageParagraphTitle,
      .usageParagraphBold {
        font-weight: 700;
      }
    }
  }

  .usageTable {
    width: f.rem(1010);
    border-collapse: collapse;
    border-radius: f.rem(10);
    border-style: hidden;
    overflow: hidden;
    box-shadow: 0 0 0 2px map-get($colors, "lightGray");

    font-size: f.rem(18);
    margin-bottom: f.rem(50);
    margin-left: f.rem(2);

    .usageTableHeader {
      background-color: map-get($colors, "grayWhite");
    }
    .usageTableHeader {
      height: f.rem(65);
    }

    .usageTableBody {
    }

    .usageTableColumn {
      text-align-last: start;
      border-left: 2px solid map-get($colors, "lightGray");
      padding-left: f.rem(30);
      padding: 10px 30px;
    }

    .usageTableRow {
      height: f.rem(50);

      &:first-child {
        .usageTableColumn {
          padding-top: 24px;
          padding-bottom: 12px;
        }
      }

      &:last-child {
        .usageTableColumn {
          padding-bottom: 24px;
          padding-top: 12px;
        }
      }
    }

    .usageTableHeaderColumn {
      border: 2px solid map-get($colors, "lightGray");
      text-align: center;

      &:nth-child(1) {
        width: f.rem(170);
      }
      &:nth-child(2) {
        width: f.rem(390);
      }
      &:nth-child(3) {
        width: f.rem(440);
      }
    }

    &.usageTableThree,
    &.usageTableFour {
      margin-bottom: f.rem(30);
      .usageTableHeaderColumn {
        &:nth-child(1) {
          width: f.rem(510);
        }
        &:nth-child(2) {
          width: f.rem(170);
        }
        &:nth-child(3) {
          width: f.rem(320);
        }
      }
    }
  }
}
