@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixin.scss' as m;
@import '../../../../utils/styles/colors.scss';

.wrapper {
    margin-bottom: f.rem(100);
}

.header {
    display: flex;
    align-items: center;

    h2 {
        flex: 1 1 auto;
    }
}

.button {
    color: map.get($colors, 'green');
    text-decoration: underline;
    font-weight: 700;

    transition: 0.3s linear;

    &:hover {
        opacity: 0.5;
        transition: 0.3s linear;
    }
}

.header {
    margin-bottom: f.rem(20);
}

.list {
    display: flex;
    gap: f.rem(20);
}